#app-header {
  position: fixed;
  height: $app-header-height;
  top: $app-header-top;
  left: 0;
  right: 0;
  padding: 0 $page-gutter-width;
  z-index: 1000;

  &.show-logo {
    .header-logo {
      display: block;
    }
  }

  body.open-menu & {
    .title-menu {
      transform: rotate(-90deg);
    }
    
    .header-logo {
      display: block;
    }
  }

  .title-menu {
    transition: transform 0.5s ease-out;
    transform: rotate(0);
    transform-origin: 91% 50%;
    float: right;
    height: 100%;
    width: 200px;
  }

  .header-logo {
    position: relative;
    float: left;
    height: 18px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
  }

  .toggle-menu {
    position: relative;
    float: right;
    height: $app-header-hamburger-height;
    width: $app-header-hamburger-width;
    padding: 10px;
    margin: 0 -10px 0 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:before,
    &:after {
      transition: transform 0.2s ease-out;
      transform: rotate(0deg);
      transform-origin: left center;
      content: '';
      height: 2px;
      background-color: $app-header-hamburger-color;
      position: absolute;
      left: 10px;
      right: 10px;
    }

    &:before {
      top: 12px;
    }

    &:after {
      bottom: 12px;
    }

    &.open {
      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }

      span {
        transform: translate3d(-12%,-50%,0) rotate(-90deg);
        opacity: 0;
      }
    }

    span {
      transition: opacity 0.2s linear, transform 0.2s ease-out;
      transform: translate3d(0,-50%,0) rotate(0deg);
      transform-origin: center center;
      background-color: $app-header-hamburger-color;
      position: relative;
      display: block;
      opacity: 1;
      height: 2px;
      width: 100%;
      top: 50%;
    }
  }
}
