// Columns
$column-count: 8;
$page-gutter-width: 70px;

// App header
$app-header-height: 42px;
$app-header-top: 62px;
$app-header-hamburger-width: 22px;
$app-header-hamburger-height: 22px;
$app-header-hamburger-color: #9F9B86;

// App nav
$app-nav-article-color: #9F9B86;
